// ======================================
// Закоментируй модули, которые не нужны.
// ======================================

/*!!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@import "../../bower_components/Font-Awesome-Stylus/stylus/variables"
@import "../../bower_components/Font-Awesome-Stylus/stylus/mixins"
@import "../../bower_components/Font-Awesome-Stylus/stylus/path"
@import "../../bower_components/Font-Awesome-Stylus/stylus/core"
//@import "../../bower_components/Font-Awesome-Stylus/stylus/larger"
//@import "../../bower_components/Font-Awesome-Stylus/stylus/fixed-width"
//@import "../../bower_components/Font-Awesome-Stylus/stylus/list"
//@import "../../bower_components/Font-Awesome-Stylus/stylus/bordered-pulled"
//@import "../../bower_components/Font-Awesome-Stylus/stylus/animated"
//@import "../../bower_components/Font-Awesome-Stylus/stylus/rotated-flipped"
//@import "../../bower_components/Font-Awesome-Stylus/stylus/stacked"
@import "../../bower_components/Font-Awesome-Stylus/stylus/icons"
